* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #1565C0;
}

header,
nav,
main,
footer {
  padding: 10px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header>div {
  width: 200px;
  height: 100px;
}

div>img {
  width: 90%;
  object-fit: contain;
}

nav {
  background-color: #333;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  overflow-x: hidden;
}

.podstranka3 {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;
}

main>div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

footer {
  background-color: #333;
  margin-top: auto;
  color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

footer p {
  margin-right: 20px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #cccccc;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: #333;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}
